<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
  </head>
  <body ng-controller="main">
      <div ng-controller="start">
        <p ng-show="room === ''">{{intro}}</p>
        <div ng-show="room === 'desk'" ng-controller="desk">Desk Div</div>
        <div ng-show="room === 'bossDesk'" ng-controller="bossDesk">Boss Div</div>
        <div ng-show="room === 'breakroom'" ng-controller="breakroom">Breakroom Div</div>
        <div ng-show="room=== 'end'" ng-controller="end">End Div</div>
        <br />
        <button ng-hide= "room === 'desk'" ng-click="room = 'desk'">Go to your desk</button>
        <button ng-hide= "room === 'bossDesk'"ng-click="room = 'bossDesk'">Go to Boss's desk</button>
        <button ng-hide= "room === 'breakroom'" ng-click="room = 'breakroom'">Go to the breakroom</button>
      </div>
  </body>
</html>
